---
import Logo from "./Logo.astro";
import Icon, { IconName as Icons } from "./Icon.astro";

interface Props {
	siteName: string;
	seeAlso: {
		title: string;
		logo: string;
		link: string;
	};
}

const { siteName, seeAlso }: Props = Astro.props;
const FOOTER = {
	title: "",
	phone: "+48 502 123 123",
	email: "aaa@aaa.pl",
	address: "ul. Stefana Jaracza 2, 91-123 Łódź",
	socialMedia: [
		{
			title: "fb",
			link: "",
			icon: Icons.SocialFb,
		},
		{
			title: "ig",
			link: "",
			icon: Icons.SocialIg,
		},
	],
	copyText: "Wszelkie prwa zastrzeżone",
};
---

<footer>
	<h4>{FOOTER.title}</h4>
	<a href={`tel:${FOOTER.phone.replaceAll(" ", "")}`}>
		<Icon icon={Icons.Phone} />
		{FOOTER.phone}
	</a>
	<a href={`mailto:${FOOTER.email}`}>
		<Icon icon={Icons.Mention} />
		{FOOTER.email}
	</a>
	<address>{FOOTER.address}</address>
	<aside>
		<h5>Zobacz również</h5>
		<Logo type={seeAlso.logo} />
		<strong>{seeAlso.title}</strong>
	</aside>
	<ul>
		{
			FOOTER.socialMedia.map(({ title, link, icon }) => (
				<li>
					<a href={link} aria-label={title}>
						<Icon icon={icon} />
					</a>
				</li>
			))
		}
	</ul>
	<p>&copy; {siteName} {new Date().getFullYear()} {FOOTER.copyText}</p>
</footer>
