---
import Logo from "./Logo.astro";
import Icon, { IconName as Icons } from "./Icon.astro";
import type { Theme } from "../layouts/index.astro";

interface Props {
	siteName: string;
	seeAlso: {
		title: string;
		logo: Theme;
		link: string;
	};
}

const { siteName, seeAlso }: Props = Astro.props;
const FOOTER = {
	title:
		"Zapraszamy do kontaktu w celu omówienia szczegółów i dostosowania oferty do Twoich potrzeb",
	phone: "+48 502 123 123",
	email: "aaa@aaa.pl",
	address: "ul. Stefana Jaracza 2, 91-123 Łódź",
	socialMedia: [
		{
			title: "fb",
			link: "",
			icon: Icons.SocialFb,
		},
		{
			title: "ig",
			link: "",
			icon: Icons.SocialIg,
		},
	],
	copyText: "Wszelkie prwa zastrzeżone",
};
---

<footer id="kontakt">
	<address>
		<h4>{FOOTER.title}</h4>
		<a href={`tel:${FOOTER.phone.replaceAll(" ", "")}`}>
			<Icon icon={Icons.Phone} width={32} height={32} />
			{FOOTER.phone}
		</a>
		<a href={`mailto:${FOOTER.email}`}>
			<Icon icon={Icons.Mention} width={32} height={32} />
			{FOOTER.email}
		</a>
		<p>{FOOTER.address}</p>
	</address>
	<ul>
		{
			FOOTER.socialMedia.map(({ title, link, icon }) => (
				<li>
					<a href={link} aria-label={title}>
						<Icon icon={icon} width={32} height={32} />
					</a>
				</li>
			))
		}
	</ul>
	<aside>
		<h5>Zobacz również</h5>
		<a href="#">
			<Logo type={seeAlso.logo} />
			<strong>{seeAlso.title}</strong>
		</a>
	</aside>
	<p>&copy; {siteName} {new Date().getFullYear()} {FOOTER.copyText}</p>
</footer>

<style>
	footer {
		padding: var(--spacing--3) var(--spacing--container) var(--spacing--2);
		scroll-margin-top: var(--header--height);
		background-color: var(--footer--background-color);
		display: flex;
		flex-direction: column;
		gap: var(--spacing--2);
	}

	ul {
		list-style: none;
	}

	address {
		font-style: normal;
		display: flex;
		flex-direction: column;
		gap: var(--spacing--1);
		font-size: var(--font-size--7);
	}

	address h4 {
		margin-bottom: var(--spacing--1);
	}

	address p {
		margin-top: var(--spacing--2);
	}

	a {
		display: flex;
		gap: var(--spacing--2);
	}

	address a {
		gap: min(2vw, var(--spacing--2));
	}

	a[href^="tel"] {
		font-size: var(--font-size--10);
	}

	a[href^="mailto"] {
		font-size: var(--font-size--5);
	}

	a[href^="tel"],
	a[href^="mailto"] {
		font-weight: 700;
	}

	ul {
		display: flex;
		gap: var(--spacing--2);
	}

	footer > p {
		text-align: center;
		font-size: var(--font-size--9);
		flex: 0 0 100%;
		color: var(--footer--copy-color);
	}

	footer > div {
		display: flex;
		justify-content: space-between;
	}

	aside a {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		row-gap: 5px;
		line-height: var(--line-height--2);
	}

	aside h5 {
		margin-bottom: var(--spacing--1);
		font-size: var(--font-size--5);
	}

	@media (min-width: 800px) {
		footer {
			display: grid;
		}

		address {
			grid-area: 1 / 1 / span 2 / 2;
		}

		address h4 {
			max-width: 600px;
		}

		ul {
			grid-area: 2 / 2 / 2 / 2;
			align-self: end;
			justify-self: end;
		}

		aside {
			grid-area: 1 / 2 / 1 / 2;
			justify-self: end;
		}

		aside strong {
			max-width: 200px;
			font-size: var(--font-size--6);
		}

		footer > p {
			grid-area: 3 / span 2;
		}
	}

	@media (max-width: 800px) {
		ul {
			justify-content: center;
			padding: var(--spacing--1);
		}

		aside {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: var(--spacing--1);
			text-align: center;
		}

		aside a {
			flex-direction: column;
		}
	}
</style>
