---
import Icon, { IconName as Icons } from "./Icon.astro";
import type { IconName } from "./Icon.astro";
import { Theme } from "../layouts/index.astro";
import { Image } from "astro:assets";

import img1 from "../assets/images/img-1.png";
import img2 from "../assets/images/img-2.png";
import img3 from "../assets/images/img-3.png";
import img4 from "../assets/images/img-4.png";
import img5 from "../assets/images/img-5.png";
import img6 from "../assets/images/img-6.png";
import img7 from "../assets/images/img-7.png";
import img8 from "../assets/images/img-8.png";

interface Props {
	heading: string;
	services: {
		title: string;
		icon?: IconName;
		bullets: {
			title: string;
			content?: string;
		}[];
	}[];
	info?: string;
	theme: Theme
}

const { services, heading, info, theme = Theme.Administracja }: Props = Astro.props;
---

<section>
	<h2>{heading}</h2>
	{
		services.map(({ title, bullets, icon }) => (
			<div>
				{icon && <Icon icon={icon} />}
				<h3>{title}</h3>
				<ul>
					{bullets.map(({ title, content }) => (
						<li>
							<h5>{title}</h5>
							{content && <p>{content}</p>}
						</li>
					))}
				</ul>
			</div>
		))
	}
	{
		info && (
			<>
				<Icon icon={Icons.Info} />
				<p>{info}</p>
			</>
		)
	}
	{
		Theme.Administracja === theme
		? (
			<Image src={img8} alt="" />
			<Image src={img4} alt="" />
			<Image src={img6} alt="" />
			<Image src={img2} alt="" />
		)
		: (
			<Image src={img7} alt="" />
			<Image src={img3} alt="" />
			<Image src={img5} alt="" />
			<Image src={img1} alt="" />
		)
	}
</section>
