---
import Icon, { IconName as Icons } from "./Icon.astro";
import type { IconName } from "./Icon.astro";

interface Props {
	heading: string;
	services: {
		title: string;
		icon?: IconName;
		bullets: {
			title: string;
			content?: string;
		}[];
	}[];
	info?: string;
}

const { services, heading, info }: Props = Astro.props;
---

<section>
	<h2>{heading}</h2>
	{
		services.map(({ title, bullets, icon }) => (
			<div>
				{icon && <Icon icon={icon} />}
				<h3>{title}</h3>
				<ul>
					{bullets.map(({ title, content }) => (
						<li>
							<h5>{title}</h5>
							{content && <p>{content}</p>}
						</li>
					))}
				</ul>
			</div>
		))
	}
	{
		info && (
			<>
				<Icon icon={Icons.Info} />
				<p>{info}</p>
			</>
		)
	}
</section>
