---
import Icon, { IconName } from "./Icon.astro";
import splashMBJ from "../assets/images/img-10.png";
import splashMBJSerwis from "../assets/images/img-9.png";
import { Image } from "astro:assets";
import { Theme } from "../layouts/index.astro";

interface Props {
	title: string;
	text: string[];
	theme: Theme;
}

const { title, text, theme }: Props = Astro.props;
const SPLASH_CTA = "Zobacz naszą ofertę";
const image = Theme.Administracja === theme ? splashMBJ : splashMBJSerwis;
---

<section>
	<figure>
		<Image src={image} alt="" />
	</figure>
	<div>
		<h1>{title}</h1>
		{
			text.length > 1 ? (
				<div>
					{text.map((text) => (
						<p>{text}</p>
					))}
				</div>
			) : (
				<p>{text[0]}</p>
			)
		}
		<div></div>
		<a href="#oferta">
			<Icon icon={IconName.ArrowDown} width={48} height={48} />
			{SPLASH_CTA}
		</a>
	</div>
</section>

<style>
	section {
		display: flex;
		background-color: var(--splash--background-color);
	}

	figure {
		flex: 1 1 40%;
		max-height: 90vh;
		overflow: hidden;
	}

	figure img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	section > div {
		color: var(--splash--color);
		padding: var(--spacing--3);
		gap: var(--spacing--2);
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1 1 60%;
	}

	@media (max-width: 799px) {
		section {
			flex-direction: column;
		}

		section figure {
			order: 2;
		}
	}

	section > div > div {
		display: flex;
		flex-wrap: wrap;
		gap: var(--spacing--3);
	}

	section > div > div p {
		flex: 1 0 min-content;
	}

	p {
		color: var(--splash--text--color);
	}

	section > div > p {
		font-size: var(--font-size--5);
	}

	a {
		display: flex;
		align-items: center;
		gap: var(--spacing--1);
		font-weight: 700;
	}
</style>
