---
import Icon, { IconName } from "./Icon.astro";

interface Props {
	advantages: {
		title: string;
		subtitle: string;
	}[];
	pricing: {
		title: string;
		content: string;
	};
}

const { advantages, pricing }: Props = Astro.props;

const ADVANTAGES_HEADING = "Dlaczego my?";
---

<section id="dlaczego-my">
	<h3>{ADVANTAGES_HEADING}</h3>
	<ul>
		{
			advantages.map(({ title, subtitle }) => (
				<li>
					<Icon icon={IconName.Check} width={40} height={40} />
					<h6>{title}</h6>
					<p>{subtitle}</p>
				</li>
			))
		}
	</ul>
	<div>
		<Icon icon={IconName.Info} width={32} height={32} />
		<h6>{pricing.title}</h6>
		<p>{pricing.content}</p>
	</div>
</section>

<style>
	section {
		padding: var(--spacing--3) var(--spacing--container);
		scroll-margin-top: var(--header--height);
		background-color: var(--why--background-color);
		color: var(--why--color);
		display: flex;
		flex-direction: column;
		gap: var(--spacing--3);
		font-size: var(--font-size--6);
	}

	ul {
		list-style: none;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: var(--spacing--3);
	}

	@media (max-width: 800px) {
		ul {
			grid-template-columns: 1fr;
		}
	}

	li,
	div {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		column-gap: var(--spacing--2);
	}

	:where(li, div) :global(svg) {
		grid-row: span 2;
	}

	li :global(svg) {
		height: auto;
		width: clamp(32px, 3.125vw, 40px);
	}

	div {
		border-top: 1px solid var(--why--border-color);
		padding-top: var(--spacing--2);
	}

	h6 {
		margin-bottom: 0.2em;
	}
</style>
